# Enfield, Andrew - DATA 512, A2: Bias in Data

TBD UPDATE

The assignment is at https://wiki.communitydata.cc/HCDS_(Fall_2017)/Assignments#A2:_Bias_in_data.

TBD remove

This notebook pulls, prepares, and analyzes data about the amount of monthly English Wikipedia traffic from January 1, 2008 through September 30, 2017. For more information about the work and data, refer to the [README](Readme.md).

A few notes:
- Normally I'd prefer to keep the explanation and background that's in the README here in the notebook, so everything's in a single file, but I've split it up this time as that's what the assignment requested. I won't copy/paste because keeping duplicate content in sync is horrible.
- Real reproducibility needs tests for the code. A lot of my implementation below is in functions. I'd normally put these functions in at least one separate file that I import into this notebook, and I'd have tests in an additional file. For this assignment I'll just keep everything in this file, for simplicity, even though it means I can't test the code the way I normally would.

**TODO** I want a data section, where i note that there are issues, in one place. These include:

- articles that aren't actually a single politician, like 'History of monarchy in Canada	Canada	806849461
'
- follow on to above bullet that i deleted the Template: articles and why 
- something about Oliver's comments about multiple levels of hierarchy
- incomplete mapping of countries even after Oliver's and my follow on remapping
-

# Prereqs

This code requires the libraries as described below.

In [140]:
# retrieve, load data
import requests
import json
import csv
import os

# prepare and analyze data
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from mpl_toolkits.axes_grid.anchored_artists import AnchoredText # for addtl annotations in charts
#from matplotlib.ticker import FuncFormatter # for custom axis labels
from IPython.core.pylabtools import figsize
import seaborn as sns # for formatting
%matplotlib inline

In [141]:
sns.set_style("whitegrid")
figsize(14,7)

# Load and do basic data cleaning

TBD UPDATE

This section loads the data from the two APIs described in the README, producing five separate .json files, one for each API and access combination.

In [142]:
d_wikipedia = pd.read_csv('page_data.csv')
d_wikipedia.shape

(47197, 3)

In [143]:
d_wikipedia[:3]

                                 page   country     rev_id
0  Template:ZambiaProvincialMinisters    Zambia  235107991
1                      Bir I of Kanem      Chad  355319463
2   Template:Zimbabwe-politician-stub  Zimbabwe  391862046

And, before we use the data to pull scores, we'll filter out the 'Template' entries.

**TODO** Note that while Oliver said he'd keep these entries, as they're evidence of coverage/activity, I'm going to drop them. I agree w/ Oliver, but I'm not sure that they're the same kind of coverage - are these apples to the actual per-politician page oranges?

In [157]:
d_wikipedia.drop(d_wikipedia[d_wikipedia['page'].str.startswith('Template:')].index, inplace=True)
d_wikipedia.shape

(46701, 3)

In [159]:
d_wikipedia[:3]

,page,country,rev_id
1,Bir I of Kanem,Chad,355319463
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188
12,Yos Por,Cambodia,393822005

In [160]:
d_population = pd.read_csv('Population Mid-2015.csv', skiprows=2, thousands=',')
d_population.shape

(210, 6)

In [161]:
d_wikipedia.groupby(['country']).size().sort_values(ascending=False)[:10]

country
France            1681
Australia         1561
China             1133
United States     1092
Mexico            1077
Pakistan          1040
India              985
Russia             877
Spain              876
United Kingdom     863
dtype: int64

In [162]:
d_population[:3]

      Location Location Type TimeFrame Data Type      Data  Footnotes
0  Afghanistan       Country  Mid-2015    Number  32247000        NaN
1      Albania       Country  Mid-2015    Number   2892000        NaN
2      Algeria       Country  Mid-2015    Number  39948000        NaN

## Pull article scores

Docs: https://ores.wikimedia.org/v3/#!/scoring/get_v3_scores_context_revid_model and https://ores.wikimedia.org/v3/#!/scoring/get_v3_scores_context

Note that when I try the multiple rev ID API with a bunch of valid IDs and one that's a text string, then it gives me a 500 and no data at all. However when I try with a bunch of valid IDs and an ID that's not valid - like -1 - then I get valid/good data for the valid IDs and output like the following. This seems good: I'll go ahead and try just pulling batches of IDs w/o further error handling.

    "-1": {
        "wp10": {
          "error": {
            "message": "RevisionNotFound: Could not find revision ({revision}:-1)",
            "type": "RevisionNotFound"
          }
        }

In [182]:
user_agent = 'https://github.com/aenfield'

def get_multiple_full_ores_score_json(rev_ids):
    """TBD referring to ..., with rev_ids as a list"""
    endpoint = 'https://ores.wikimedia.org/v3/scores/enwiki?models=wp10&revids={rev_ids_delimited}'

    rev_ids_delimited = '|'.join([str(i) for i in rev_ids])

    params = { 'rev_ids_delimited' : rev_ids_delimited }

    api_call = requests.get(endpoint.format(**params), headers = {'User-Agent':'{}'.format(user_agent)})
    return api_call.json()
    
def get_ores_prediction_from_score_json(score_json, rev_id):
    """Return the most likely article type, per ORES. Assumes a JSON dict from Ores. """
    #print(rev_id)
    try:
        return score_json['enwiki']['scores'][str(rev_id)]['wp10']['score']['prediction']
    except KeyError as err:
        return f"KeyError: {err}."
            
def chunker(seq, size):
    """Get a generator that returns chunks of size 'size' of the sequence in 'seq'.
    
    From: https://stackoverflow.com/questions/434287/what-is-the-most-pythonic-way-to-iterate-over-a-list-in-chunks
    """
    return (seq[pos:pos + size] for pos in range(0, len(seq), size))

def get_article_scores_data(rev_ids, force=False, verbose=False):
    """TBD update Download and save results from the specified API to a local file, by default only if local file doesn't exist.
    TBD call with d_wikipedia['last_edit'].values for 'rev_ids'
    
    apiname - 'pagecounts' or 'pageviews'
    params - a dict containing 'access', 'start', and 'end' keys; use get_param_dict_from_params
    user_agent - an identifier for the user making the request; can be a GitHub user URL or general email address
    force - download data and overwrite local file, even if file already exists; default is False
    verbose - print diagnostic data; default is false
    """
    
    filename = 'article_scores.csv'

    if (not os.path.exists(filename)) | (force == True):
        # download and save the data locally
        if verbose: print("Local file doesn't exist or download was forced. Downloading...")
        with open(filename, 'w') as output_file:
            writer = csv.writer(output_file, delimiter=',')
            writer.writerow(['RevisionId','Score'])

            progress_frequency = 25
            count_of_rev_ids_in_chunk = 140
            rev_ids_in_chunks = [x for x in chunker(rev_ids, count_of_rev_ids_in_chunk)]

            #rev_ids_in_chunks = rev_ids_in_chunks[300:]
            
            for chunk_index, chunk_of_rev_ids in enumerate(rev_ids_in_chunks):
                if (chunk_index % progress_frequency == 0): print(f"Retrieving chunk with index {chunk_index}.")

                scores_json = get_multiple_full_ores_score_json(chunk_of_rev_ids)
                #print(scores_json)
                for rev_id in chunk_of_rev_ids:
                    writer.writerow([rev_id, get_ores_prediction_from_score_json(scores_json, rev_id)])

            if verbose: print(f"Retrieved {chunk_index + 1} chunks and saved to {filename}. Done.")        
    else:
        if verbose: print("Local file exists already.")
                  
    # now open and return dataframe
    return pd.read_csv(filename, index_col='RevisionId')

In [218]:
d_scores = get_article_scores_data(d_wikipedia['rev_id'].values)
d_scores.shape

(46701, 1)

Some articles may have been deleted since the page_data list was created. How many of these occurred? And then we'll filter them out, since we can't get a score for something that doesn't exist.

In [219]:
len(d_scores[d_scores['Score'].str.startswith('KeyError')])

2

In [220]:
d_scores[d_scores['Score'].str.startswith('KeyError')]

                         Score
RevisionId
807367030   KeyError: 'score'.
807367166   KeyError: 'score'.

In [221]:
d_scores.drop(d_scores[d_scores['Score'].str.startswith('KeyError')].index, inplace=True)
d_scores.shape

(46699, 1)

In [222]:
len(d_scores[d_scores['Score'].str.startswith('KeyError')])

0

And now join to pull in the score data.

If there are rows with no score data, the page data will have nulls for the new score column. I'll filter these rows out below when I clean up rows with incomplete data.

In [223]:
d_wikipedia_with_scores = pd.merge(left=d_wikipedia, right=d_scores, left_on='rev_id', right_index=True, how='left')
d_wikipedia_with_scores.shape

(46701, 4)

In [224]:
d_wikipedia_with_scores[:3]

,page,country,rev_id,Score
1,Bir I of Kanem,Chad,355319463,Stub
10,Information Minister of the Palestinian Nation...,Palestinian Territory,393276188,Stub
12,Yos Por,Cambodia,393822005,Stub

In [225]:
d_wikipedia_with_scores['Score'].value_counts(dropna=False)

Stub     23707
Start    15341
C         5764
GA         872
B          735
FA         280
NaN          2
Name: Score, dtype: int64

In [226]:
d_wikipedia.shape

(46701, 3)

In [227]:
len(d_wikipedia_with_scores) - len(d_wikipedia)

0

In [228]:
d_scores.shape

(46699, 1)

In [229]:
d_wikipedia_with_scores.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46701 entries, 1 to 47196
Data columns (total 4 columns):
page       46701 non-null object
country    46701 non-null object
rev_id     46701 non-null int64
Score      46699 non-null object
dtypes: int64(1), object(3)
memory usage: 1.8+ MB

In [230]:
# d_wikipedia_with_scores.to_excel('eyeball.xlsx')

In [231]:
len(d_wikipedia_with_scores['rev_id'].unique())

46701

In [232]:
len(d_wikipedia['rev_id'].unique())

46701

In [233]:
len(d_scores.index.unique())

46699

Originally the page_data data set had duplicates. It looks like that's no longer the case, but I'll check for them here to confirm.

In [234]:
dupes = d_wikipedia_with_scores[d_wikipedia_with_scores.duplicated(subset='rev_id', keep=False)].sort_values(['rev_id','page'])
dupes

Empty DataFrame
Columns: [page, country, rev_id, Score]
Index: []

Join to pull in the population data. For now we'll do an outer join so we can see the country values that don't exist on _both_ sides of the join. This isn't needed for the assignment because it says to just remove all rows that don't have matching data. But, I'm curious and I also want to at least see if there are places where I could do any further matching to expand/improve the data.

In [236]:
d_all = pd.merge(left=d_wikipedia_with_scores, right=d_population[['Location','Data']],
                 how='outer', left_on='country', right_on='Location')
d_all.shape

(46724, 6)

In [237]:
d_all[:3]

                   page country       rev_id Score Location        Data
0        Bir I of Kanem    Chad  355319463.0  Stub     Chad  13707000.0
1  Abdullah II of Kanem    Chad  498683267.0  Stub     Chad  13707000.0
2   Salmama II of Kanem    Chad  565745353.0  Stub     Chad  13707000.0

Now show the countries that exist on each side but not on the other.

First, countries that exist in the Wikipedia data but not in the population data, w/ the number of rows - here, the number of pages - for each

In [238]:
d_all[d_all['Location'].isnull()]['country'].value_counts(dropna=False)

Hondura                             187
Salvadoran                          116
South Korean                         96
Cape Colony                          81
Samoan                               76
Rhodesian                            75
Faroese                              74
Ivorian                              73
Cook Island                          67
Jersey                               61
Saint Lucian                         47
Pitcairn Islands                     43
Chechen                              38
East Timorese                        36
Saint Kitts and Nevis                30
Montserratian                        27
Guernsey                             25
Omani                                24
Carniolan                            22
Niuean                               22
Saint Vincent and the Grenadines     21
Palauan                              21
South Ossetian                       18
Tokelauan                            17
Abkhazia                             16
South African Republic               15
Greenlandic                          13
Ossetian                              9
Dagestani                             7
Incan                                 7
Somaliland                            4
Rojava                                2
Name: country, dtype: int64

And the countries that exist in the population data but not in the Wikipedia data.

In [239]:
d_all[d_all['country'].isnull()]['Location'].value_counts(dropna=False)

Channel Islands                 1
French Polynesia                1
Brunei                          1
Palau                           1
Puerto Rico                     1
Mayotte                         1
Timor-Leste                     1
Honduras                        1
St. Kitts-Nevis                 1
Samoa                           1
Georgia                         1
St. Vincent & the Grenadines    1
Oman                            1
Hong Kong, SAR                  1
New Caledonia                   1
Western Sahara                  1
Macao, SAR                      1
Curacao                         1
St. Lucia                       1
Cote d'Ivoire                   1
El Salvador                     1
Reunion                         1
Guam                            1
Name: Location, dtype: int64

In [240]:
#d_population.to_excel('population.xlsx')
#d_wikipedia_with_scores['country'].value_counts(dropna=False).reset_index().to_excel('page countries.xlsx')

Based on eyeballing of the most common Wikipedia countries for which we have no population data - I included all countries with 70 or more pages - I came up with the following mapping that I'll use to update the country field in the Wikipedia data, so we _will_ have population data. This is probably clearly better for some countries that map directly - for example updating 'South Korean' to 'Korea, South'. It's fuzzier for at least some others, including for example Wikipedia countries that aren't around anymore in the way they were when the leader was in power, like Cape Colony and Rhodesia. Good enough for now though.

In addition, there are clearly others that I could also map - for example, 'Saint Vincent and the Grenadines' in the Wikipedia data could be changed to 'St. Vincent & the Grenadines', but all of the ones I didn't manually map have fewer than 70 pages.

In [241]:
wikipedia_country_to_population_map = {'Burkinab√©':'Burkina Faso',
                                       'Ivorian':"Cote d'Ivoire",
                                       'Faroese':'Denmark',
                                       'Salvadoran':'El Salvador',
                                       'Hondura':'Honduras',
                                       'South Korean':'Korea, South',
                                       'Samoan':'Samoa',
                                       'Cape Colony':'United Kingdom',
                                       'Rhodesian':'Zimbabwe'}

In [242]:
d_wikipedia_with_scores['country'].update(d_wikipedia_with_scores['country'].map(wikipedia_country_to_population_map))

And then we need to re-merge the population data.

**TODO** This is duplication. DRY.

In [256]:
d_all = pd.merge(left=d_wikipedia_with_scores, right=d_population[['Location','Data']],
                 how='outer', left_on='country', right_on='Location')
d_all.shape

(46720, 6)

In [257]:
d_all[d_all['Location'].isnull()]['country'].value_counts(dropna=False)

Cook Island                         67
Jersey                              61
Saint Lucian                        47
Pitcairn Islands                    43
Chechen                             38
East Timorese                       36
Saint Kitts and Nevis               30
Montserratian                       27
Guernsey                            25
Omani                               24
Carniolan                           22
Niuean                              22
Palauan                             21
Saint Vincent and the Grenadines    21
South Ossetian                      18
Tokelauan                           17
Abkhazia                            16
South African Republic              15
Greenlandic                         13
Ossetian                             9
Dagestani                            7
Incan                                7
Somaliland                           4
Rojava                               2
Name: country, dtype: int64

In [258]:
d_all[d_all['country'].isnull()]['Location'].value_counts(dropna=False)

Oman                            1
New Caledonia                   1
Brunei                          1
Channel Islands                 1
Puerto Rico                     1
Mayotte                         1
Macao, SAR                      1
St. Kitts-Nevis                 1
St. Lucia                       1
St. Vincent & the Grenadines    1
Timor-Leste                     1
Hong Kong, SAR                  1
Western Sahara                  1
Palau                           1
Curacao                         1
French Polynesia                1
Georgia                         1
Reunion                         1
Guam                            1
Name: Location, dtype: int64

In [259]:
d_all[:3]

                   page country       rev_id Score Location        Data
0        Bir I of Kanem    Chad  355319463.0  Stub     Chad  13707000.0
1  Abdullah II of Kanem    Chad  498683267.0  Stub     Chad  13707000.0
2   Salmama II of Kanem    Chad  565745353.0  Stub     Chad  13707000.0

And now that we've added in the additional remappings here, rows that still have a NaN 'Location' value are rows for which we have no population data and, per the assignment, we can get rid of them.

In [260]:
d_all.shape

(46720, 6)

In [261]:
sum(d_all['Location'].isnull())

592

In [262]:
d_all.dropna(subset=['Location'], inplace=True)
d_all.shape

(46128, 6)

Since we did an outer join above so we could understand data without matches on both sides of the join, we also need to drop the rows with location/population data but with no matching articles. These rows have nulls for the page data fields - for page, country, rev_id, and Score.

In [263]:
d_all.dropna(subset=['page', 'country', 'rev_id', 'Score'], how='all', inplace=True)
d_all.shape

(46109, 6)

And we'll also get rid of any rows where we don't have score data - these can come from, for example as noted above, cases where the actual page has been deleted on Wikipedia.

In [265]:
d_all[d_all['Score'].isnull()]

                 page country       rev_id Score Location        Data
9352   Jalal Movaghar    Iran  807367030.0   NaN     Iran  78483446.0
9353  Mohsen Movaghar    Iran  807367166.0   NaN     Iran  78483446.0

In [266]:
d_all.dropna(subset=['Score'], inplace=True)
d_all.shape

(46107, 6)

Clean up columns to match assignment instructions: rename and drop extra join column.

In [267]:
del d_all['Location']
d_all.rename(columns={'page':'article_name',
                      'rev_id':'revision_id',
                      'Score':'article_quality',
                      'Data':'population'}, inplace=True)
d_all[:3]

           article_name country  revision_id article_quality  population
0        Bir I of Kanem    Chad  355319463.0            Stub  13707000.0
1  Abdullah II of Kanem    Chad  498683267.0            Stub  13707000.0
2   Salmama II of Kanem    Chad  565745353.0            Stub  13707000.0

# Analysis

In [273]:
articles_per_person = d_all.groupby(['country']).apply(lambda g: g.size / g.iloc[0]['population'])
articles_per_person[:3]

country
Afghanistan    0.000050
Albania        0.000790
Algeria        0.000015
dtype: float64

In [274]:
articles_per_person['United States']

1.6996946389626318e-05

In [275]:
articles_per_person['Norway']

0.00063144791584647422

In [276]:
articles_per_person.sort_values(ascending=False)

country
Nauru                             0.023941
Tuvalu                            0.022881
San Marino                        0.012273
Monaco                            0.005251
Liechtenstein                     0.003726
Marshall Islands                  0.003364
Iceland                           0.003053
Tonga                             0.003049
Andorra                           0.002179
Samoa                             0.001957
Federated States of Micronesia    0.001748
Grenada                           0.001622
Luxembourg                        0.001564
Antigua and Barbuda               0.001333
Kiribati                          0.001323
Maldives                          0.001196
Malta                             0.001194
Fiji                              0.001142
Seychelles                        0.001131
Vanuatu                           0.001081
Dominica                          0.000882
New Zealand                       0.000853
Albania                           0.000790
Solomon Islands                   0.000756
Norway                            0.000631
Guadeloupe                        0.000602
Montenegro                        0.000578
Estonia                           0.000568
French Guiana                     0.000538
Sao Tome and Principe             0.000537
                                    ...
Turkey                            0.000022
Kazakhstan                        0.000022
Yemen                             0.000022
Cameroon                          0.000022
Venezuela                         0.000021
Angola                            0.000021
Niger                             0.000020
Saudi Arabia                      0.000019
Nigeria                           0.000019
Japan                             0.000017
United States                     0.000017
Cote d'Ivoire                     0.000016
Eritrea                           0.000015
Algeria                           0.000015
Senegal                           0.000014
Brazil                            0.000013
Egypt                             0.000013
Sudan                             0.000012
Mozambique                        0.000011
Vietnam                           0.000010
Bangladesh                        0.000010
Congo, Dem. Rep. of               0.000010
Thailand                          0.000009
Zambia                            0.000008
Korea, North                      0.000007
Ethiopia                          0.000005
Uzbekistan                        0.000004
China                             0.000004
Indonesia                         0.000004
India                             0.000004
Length: 191, dtype: float64

In [277]:
def is_high_quality(score):
    if (score == 'FA') | (score == 'GA'):
        return True
    else:
        return False

In [278]:
d_all['article_quality'].value_counts(dropna=False)

Stub     23456
Start    15103
C         5685
GA         862
B          722
FA         279
Name: article_quality, dtype: int64

In [279]:
(d_all['article_quality'].apply(is_high_quality)).value_counts(dropna=False)

False    44966
True      1141
Name: article_quality, dtype: int64

In [280]:
# define this instead of using a lambda, like above, so we can keep the lines around 80 chars wide
# a lambda would be fine as the actual function is still pretty short/a single liner
def get_high_quality_article_proportion(articles):
    return sum(articles['article_quality'].apply(is_high_quality)) / articles.size

high_quality_articles_per_all_articles = d_all.groupby(['country']).apply(get_high_quality_article_proportion)
high_quality_articles_per_all_articles[:3]

country
Afghanistan    0.011801
Albania        0.002188
Algeria        0.005172
dtype: float64

In [282]:
high_quality_articles_per_all_articles.sort_values(ascending=False)

country
Korea, North                      0.050000
Romania                           0.026239
Saudi Arabia                      0.025424
Central African Republic          0.024242
Guinea-Bissau                     0.020000
Qatar                             0.020000
Vietnam                           0.019251
Bhutan                            0.018182
Mauritania                        0.016667
Ireland                           0.016402
United States                     0.015751
Singapore                         0.014493
Guatemala                         0.014458
Uzbekistan                        0.014286
Palestinian Territory             0.013408
Benin                             0.013187
Syria                             0.012403
Gabon                             0.012245
United Kingdom                    0.012076
Afghanistan                       0.011801
Ukraine                           0.011333
Vanuatu                           0.010000
Congo, Dem. Rep. of               0.009859
Jamaica                           0.009756
Gambia                            0.009756
Spain                             0.009361
Egypt                             0.009283
Panama                            0.009259
Mongolia                          0.008696
Philippines                       0.008644
                                    ...
Solomon Islands                   0.000000
Burundi                           0.000000
Kiribati                          0.000000
Sao Tome and Principe             0.000000
Turkmenistan                      0.000000
Kazakhstan                        0.000000
Nepal                             0.000000
Nauru                             0.000000
Tonga                             0.000000
Honduras                          0.000000
Guyana                            0.000000
Switzerland                       0.000000
Zambia                            0.000000
Tunisia                           0.000000
Guadeloupe                        0.000000
Swaziland                         0.000000
French Guiana                     0.000000
Cape Verde                        0.000000
Lesotho                           0.000000
Tajikistan                        0.000000
Mozambique                        0.000000
Eritrea                           0.000000
Liechtenstein                     0.000000
Suriname                          0.000000
Dominica                          0.000000
Djibouti                          0.000000
Comoros                           0.000000
Macedonia                         0.000000
San Marino                        0.000000
Federated States of Micronesia    0.000000
Length: 191, dtype: float64

* **TODO** double check at least a few of the above calcs for both sets by calculating the proportions manually.
* **TODO** also double check the with population calcs below

If we filter out countries with 'smaller' populations, what do we see for the same lists? First we'll add in the population data and then we can use that to filter the lists.

In [283]:
articles_per_person = pd.concat([articles_per_person, 
           d_population[['Location','Data']].set_index('Location')['Data']],
           axis=1).rename(columns={0:'proportion','Data':'population'})
articles_per_person[:3]

             proportion  population
Afghanistan    0.000050    32247000
Albania        0.000790     2892000
Algeria        0.000015    39948000

In [284]:
high_quality_articles_per_all_articles = pd.concat([high_quality_articles_per_all_articles, 
           d_population[['Location','Data']].set_index('Location')['Data']],
           axis=1).rename(columns={0:'proportion','Data':'population'})
high_quality_articles_per_all_articles[:3]

             proportion  population
Afghanistan    0.011801    32247000
Albania        0.002188     2892000
Algeria        0.005172    39948000

And now we can look at the lists again, with a threshold population.

In [285]:
pop_thresh = 50000000

In [286]:
articles_per_person[articles_per_person['population'] > pop_thresh].sort_values(by='proportion', ascending=False)['proportion']

France                 0.000131
United Kingdom         0.000073
Italy                  0.000066
Iran                   0.000052
Germany                0.000043
Mexico                 0.000042
Tanzania               0.000039
Korea, South           0.000037
South Africa           0.000034
Russia                 0.000030
Pakistan               0.000026
Philippines            0.000025
Myanmar                0.000023
Turkey                 0.000022
Nigeria                0.000019
Japan                  0.000017
United States          0.000017
Brazil                 0.000013
Egypt                  0.000013
Vietnam                0.000010
Bangladesh             0.000010
Congo, Dem. Rep. of    0.000010
Thailand               0.000009
Ethiopia               0.000005
China                  0.000004
Indonesia              0.000004
India                  0.000004
Name: proportion, dtype: float64

In [287]:
high_quality_articles_per_all_articles[high_quality_articles_per_all_articles['population'] > pop_thresh].sort_values(by='proportion', ascending=False)['proportion']

Vietnam                0.019251
United States          0.015751
United Kingdom         0.012076
Congo, Dem. Rep. of    0.009859
Egypt                  0.009283
Philippines            0.008644
Indonesia              0.008531
Russia                 0.007982
Myanmar                0.007595
China                  0.007414
South Africa           0.006349
Germany                0.005499
Thailand               0.005357
Iran                   0.004141
Ethiopia               0.003960
Bangladesh             0.003738
Korea, South           0.003733
France                 0.003569
Japan                  0.003204
India                  0.003046
Pakistan               0.002692
Turkey                 0.002299
Italy                  0.001942
Brazil                 0.001812
Mexico                 0.001300
Nigeria                0.001178
Tanzania               0.000494
Name: proportion, dtype: float64

In [288]:
d_all.to_csv('en-wikipedia-politician-scores.csv', index=False)