In [1]:
import pandas as pd

In [2]:
d = pd.read_csv('~/OneDrive/Personal/School/Master\'s/DATA 512/Project/Oct16/Oct16 public.csv')
d.shape

(2583, 211)

In [3]:
d[:2]

,Unnamed: 0,psraid,sample,int_date,fcall,attempts,refusal,ilang,cregion,state,...,hh3,ql1,ql1a,qc1,money2,ckinfo,iphoneuse,hphoneuse,cellweight,weight
0,1,50003,Landline,102016,161020,1,No,English,Midwest,Minnesota,...,2,"Yes, have cell phone",NaN,NaN,NaN,NaN,Dual,Dual HH,NaN,2.088235
1,2,50004,Landline,102016,161020,1,No,English,South,Delaware,...,2,"Yes, have cell phone",NaN,NaN,NaN,NaN,Dual,Dual HH,NaN,1.264706

In [4]:
pd.set_option('display.max_rows', 500)

In [5]:
d.iloc[0]

Unnamed: 0                                                    1
psraid                                                    50003
sample                                                 Landline
int_date                                                 102016
fcall                                                    161020
attempts                                                      1
refusal                                                      No
ilang                                                   English
cregion                                                 Midwest
state                                                 Minnesota
density                                                  Lowest
sstate                                                Minnesota
form                                                     Form 1
stimes                                                        1
igender                                                  Female
irace                                                     White
llitext0                                  Youngest Female First
susr                                                   Suburban
usr                                                    Suburban
scregion                                                Midwest
file                                                       SRBI
qs1                                                         NaN
q1                                                   Disapprove
q2                                                 Dissatisfied
q3                                                        Angry
campnii                                          Fairly closely
thought                                                     NaN
oftvote                                                  Always
q10           for the Republican ticket of Donald Trump and ...
q10a                                                        NaN
q10horse                                       Trump/lean Trump
q10horseGP                                     Trump/lean Trump
q11                                                         NaN
q11a                                                        NaN
Q11HORSE2                                      Trump/lean Trump
q12                                                    Strongly
q13a                                            Against Clinton
q13b                                                        NaN
q13c                                                        NaN
q13d                                                        NaN
q15                                                         NaN
q15a                                                        NaN
plan1                                              Plan to vote
early1                                                      NaN
plan2                                           ON Election Day
q20af2                                                      NaN
q20bf2                                                      NaN
q25f1         Things will pretty much be the same regardless...
q26f2                                                       NaN
q29f2                                                       NaN
q30af1                                             Not too well
q30bf1                                                Very well
q31                                                         NaN
q32                      [VOL. DO NOT READ] Don't know/Refused
q40af1                                          Some difference
q40bf1                                           Big difference
q40cf1                                           Big difference
q40df2                                                      NaN
q40ef2                                                      NaN
q40ff2                                                      NaN
q50a                                               A great deal
q50bf1                                             A great deal
q50cf1                                             A great deal
q50df1                                             A great deal
q50ef1                                             A great deal
q50ff1                                             A great deal
q50gf1                                             A great deal
q50hf2                                                      NaN
q50if2                                                      NaN
q50jf2                                                      NaN
q50kf2                                                      NaN
q50lf2                                                      NaN
q51a                                               Not too much
q51bf1                                             Not too much
q51cf1                                             Not too much
q51df1                                            A fair amount
q51ef1                                             Not too much
q51ff1                                            A fair amount
q51gf1                                            A fair amount
q51hf2                                                      NaN
q51if2                                                      NaN
q51jf2                                                      NaN
q51kf2                                                      NaN
q51lf2                                                      NaN
q60                                                  Good shape
q61                                   Don't know/Refused (VOL.)
emp2                                                         No
emp1                                                         No
emp3                                                  Full-time
employ1                                                     NaN
employ7                                                     NaN
q63                                          Somewhat confident
q66f2                                                       NaN
q67af1                                       Somewhat important
q67bf1                                        Not too important
q67cf1                                        Not too important
q67df1                                           Very important
q67ef1                                       Somewhat important
q69f2                                                       NaN
q70a                                           Mostly favorable
q70b                                           Very unfavorable
q71f1                                            Mostly divided
q72f2                                                       NaN
q75af1                                                       No
q75bf1                                                       No
q75cf1                                                       No
q75df1                           Yes, describes Hillary Clinton
q75ef1                                                       No
q75if2                                                      NaN
q75jf2                                                      NaN
q75kf2                                                      NaN
q75lf2                                                      NaN
q75mf2                                                      NaN
q76af1                              Yes, describes Donald Trump
q76bf1                                Don't know/Refused (VOL.)
q76cf1                              Yes, describes Donald Trump
q76df1                                                       No
q76ef1                              Yes, describes Donald Trump
q76if2                                                      NaN
q76jf2                                                      NaN
q76kf2                                                      NaN
q76lf2                                                      NaN
q76mf2                                                      NaN
q77af1                                      Stay about the same
q77bf1                                      Stay about the same
q78af2                                                      NaN
q78bf2                                                      NaN
q80af1                                             Donald Trump
q80bf1                                             Donald Trump
q80cf1                                             Donald Trump
q80df1                                             Donald Trump
q80ef1                                             Donald Trump
q80ff1                                             Donald Trump
q80if2                                                      NaN
q80jf2                                                      NaN
q80kf2                                                      NaN
q80lf2                                                      NaN
q80mf2                                                      NaN
q80nf2                                                      NaN
q82f2                                                       NaN
q83f2                                                       NaN
q84f1                              Yes, too personally critical
q85f1                              Yes, too personally critical
q89f2                                                       NaN
q90f1                                                    Raised
q91f1                    [VOL. DO NOT READ] Don't know/Refused
q92f1                                                       NaN
q93f1                                     Illegal in most cases
q95f1                                                 Bad thing
q96f2                                                       NaN
q97f1         U.S. does not have a responsibility to accept ...
q98af2                                                      NaN
q98bf2                                                      NaN
q99                                                    Too much
q100f1        The U.S. should deal with its own problems and...
q101af1                                            An adversary
q101bf2                                                     NaN
q102f2                                                      NaN
q103f2                                                      NaN
q110                           Being held to a higher standard
sex                                                        Male
age                                                          57
gen5                                           Boomer (1946-64)
educ2         High school graduate (Grade 12 with diploma or...
hisp                                                         No
race3m1       White (e.g., Caucasian, European, Irish, Itali...
race3m2                                                     NaN
race3m3                                                     NaN
race3m4                                                     NaN
adults                                                        2
racethn                                         White, non-Hisp
birth_hisp                                                  NaN
citizen                                                     NaN
child                                               No children
relig         Protestant (Baptist, Methodist, Non-denominati...
chr                                                         NaN
born                                                 Yes, would
attend                                              Once a week
income                                      50 to under $75,000
reg           Are you ABSOLUTELY CERTAIN that you are regist...
statereg0                                                   NaN
statereg                                                    NaN
statenv0                                                    NaN
statenv                                                     NaN
planreg                                                     NaN
regfinalpr                                           Registered
dayof                                                        No
dayof2                                                       No
statebal                                                    NaN
sameday                               Pre-registration required
regfinal                            Registered/Plan to/N.Dakota
party                                                Republican
partyln                                                     NaN
partysum                                           Rep/lean Rep
partyideo                                              Cons Rep
q115          Does NOT represent the core principles and pos...
q116                                                        NaN
q117                                Preferred another candidate
q118                                                        NaN
ideo                                               Conservative
hh1                                                           2
hh3                                                           2
ql1                                        Yes, have cell phone
ql1a                                                        NaN
qc1                                                         NaN
money2                                                      NaN
ckinfo                                                      NaN
iphoneuse                                                  Dual
hphoneuse                                               Dual HH
cellweight                                                  NaN
weight                                                  2.08824
Name: 0, dtype: object

In [6]:
d['racethn'].value_counts(dropna=False)

White, non-Hisp    1793
Hispanic            325
Black, non-Hisp     237
Other               186
NaN                  42
Name: racethn, dtype: int64

In [7]:
d['race3m1'].value_counts(dropna=False)

White (e.g., Caucasian, European, Irish, Italian, Arab, Middle Eastern)                                     1998
Black or African-American (e.g., Negro, Kenyan, Nigerian, Haitian)                                           266
Hispanic/Latino (VOL.) (e.g., Mexican, Puerto Rican, Cuban)                                                  128
Asian or Asian-American (e.g., Asian Indian, Chinese, Filipino, Vietnamese or other Asian origin groups)      85
Native American/American Indian/Alaska Native (VOL.)                                                          40
Refused (e.g., non-race answers like American, Human, purple) (VOL.)                                          36
Don't know (VOL.)                                                                                             22
Some other race (SPECIFY____ IF NEEDED: What race or races is that?)                                           5
Pacific Islander/Native Hawaiian (VOL.)                                                                        3
Name: race3m1, dtype: int64

In [8]:
d['race3m2'].value_counts(dropna=False)

NaN                                                                                                         2506
Native American/American Indian/Alaska Native (VOL.)                                                          44
Black or African-American (e.g., Negro, Kenyan, Nigerian, Haitian)                                            18
White (e.g., Caucasian, European, Irish, Italian, Arab, Middle Eastern)                                        8
Asian or Asian-American (e.g., Asian Indian, Chinese, Filipino, Vietnamese or other Asian origin groups)       5
Pacific Islander/Native Hawaiian (VOL.)                                                                        2
Name: race3m2, dtype: int64

In [9]:
d['race3m3'].value_counts(dropna=False)

NaN                                                                                                         2578
Asian or Asian-American (e.g., Asian Indian, Chinese, Filipino, Vietnamese or other Asian origin groups)       4
White (e.g., Caucasian, European, Irish, Italian, Arab, Middle Eastern)                                        1
Name: race3m3, dtype: int64

In [10]:
d['race3m4'].value_counts(dropna=False)

NaN    2583
Name: race3m4, dtype: int64

Here's the text from the readme.txt:

    *The combined race variable (racecmb) was computed using the following syntax:
    recode race_1 (1=1) (2=2) (3=3) (4 thru 7=5) (8 thru 9=9) into racecmb.
    if race_2>0 and race_2 <8 racecmb=4.
    variable label racecmb "Combining Race".
    value label racecmb
    1 "White"
    2 "Black or African-American"
    3 "Asian or Asian-American"
    4 "Mixed Race"
    5 "Or some other race"
    9 "Dont know/Refused (VOL.)".

In [11]:
#from collections import defaultdict
racethn_to_index = {
    "White (e.g., Caucasian, European, Irish, Italian, Arab, Middle Eastern)": 1,
    "Black or African-American (e.g., Negro, Kenyan, Nigerian, Haitian)": 2,
    "Asian or Asian-American (e.g., Asian Indian, Chinese, Filipino, Vietnamese or other Asian origin groups)": 3,
    "Some other race (SPECIFY____ IF NEEDED: What race or races is that?)": 4,
    "Native American/American Indian/Alaska Native (VOL.)": 5,
    "Pacific Islander/Native Hawaiian (VOL.)": 6,
    "Hispanic/Latino (VOL.) (e.g., Mexican, Puerto Rican, Cuban)": 7,
    "Don't know (VOL.)": 8,
    "Refused (e.g., non-race answers like American, Human, purple) (VOL.)": 9
}

In [12]:
d['race3m1'].map(racethn_to_index).value_counts(dropna=False)

1    1998
2     266
7     128
3      85
5      40
9      36
8      22
4       5
6       3
Name: race3m1, dtype: int64

In [13]:
d['race3m1'].value_counts(dropna=False)

White (e.g., Caucasian, European, Irish, Italian, Arab, Middle Eastern)                                     1998
Black or African-American (e.g., Negro, Kenyan, Nigerian, Haitian)                                           266
Hispanic/Latino (VOL.) (e.g., Mexican, Puerto Rican, Cuban)                                                  128
Asian or Asian-American (e.g., Asian Indian, Chinese, Filipino, Vietnamese or other Asian origin groups)      85
Native American/American Indian/Alaska Native (VOL.)                                                          40
Refused (e.g., non-race answers like American, Human, purple) (VOL.)                                          36
Don't know (VOL.)                                                                                             22
Some other race (SPECIFY____ IF NEEDED: What race or races is that?)                                           5
Pacific Islander/Native Hawaiian (VOL.)                                                                        3
Name: race3m1, dtype: int64

In [14]:
d['race3m1_index'] = d['race3m1'].map(racethn_to_index)
d['race3m2_index'] = d['race3m2'].map(racethn_to_index)

In [15]:
def get_racecmb(row):
    if ((row['race3m2_index'] > 0) & (row['race3m2_index'] < 8)):
        return 'Mixed Race'
    elif (row['race3m1_index'] == 1):
        return 'White'
    elif (row['race3m1_index'] == 2):
        return 'Black or African-American'
    elif (row['race3m1_index'] == 3):
        return 'Asian or Asian-American'
    elif (row['race3m1_index'] >= 4 & row['race3m1_index'] <= 7):
        return 'Or some other race'
    elif ((row['race3m1_index'] >= 8) & (row['race3m1_index'] <= 9)):
        return 'Dont know/Refused (VOL.)'

In [16]:
d.apply(get_racecmb, axis=1).value_counts(dropna=False)

White                        1935
Black or African-American     258
Or some other race            230
Asian or Asian-American        83
Mixed Race                     77
dtype: int64

In [17]:
d['racecmb'] = d.apply(get_racecmb, axis=1)

**TODO** sanity check above numbers... are they right?

In [18]:
d['racecmb'].value_counts(dropna=False)

White                        1935
Black or African-American     258
Or some other race            230
Asian or Asian-American        83
Mixed Race                     77
Name: racecmb, dtype: int64

## Filter to a smaller list of fields, for ease of examination

In [19]:
fields_to_keep = [
    'psraid',
    'int_date',
    'cregion',
    'state',
    'density',
    'usr',
    'q10',
    'q10a',
    'q10horse',
    'q10horseGP',
    'plan1',
    'early1',
    'plan2',
    'sex',
    'age',
    'gen5',
    'educ2',
    'income',
    'regfinal',
    'cellweight',
    'weight',
    'racecmb'
]

In [20]:
d = d[fields_to_keep]
d.shape

(2583, 22)

In [21]:
dont_include_fields = ['psraid','cellweight','weight']
fields_for_value_counts = [field for field in d.columns if field not in dont_include_fields]
fields_for_value_counts

['int_date',
 'cregion',
 'state',
 'density',
 'usr',
 'q10',
 'q10a',
 'q10horse',
 'q10horseGP',
 'plan1',
 'early1',
 'plan2',
 'sex',
 'age',
 'gen5',
 'educ2',
 'income',
 'regfinal',
 'racecmb']

In [22]:
for field in fields_for_value_counts:
    print(field)
    print(d[field].value_counts(dropna=False))
    print()

int_date
102116    610
102516    520
102216    432
102316    409
102416    326
102016    286
Name: int_date, dtype: int64

cregion
South        988
West         574
Midwest      559
Northeast    462
Name: cregion, dtype: int64

state
California              259
Texas                   202
New York                173
Florida                 162
Pennsylvania             99
Ohio                     96
Illinois                 88
North Carolina           86
New Jersey               84
Virginia                 80
Georgia                  79
Michigan                 79
Minnesota                63
Wisconsin                63
Arizona                  62
Washington               60
Tennessee                53
Missouri                 50
Colorado                 46
Indiana                  45
Maryland                 45
Kentucky                 44
South Carolina           44
Oregon                   42
Louisiana                38
Oklahoma                 38
Alabama                  37
Massachusetts            37
Connecticut              32
Iowa                     28
Nevada                   26
Kansas                   22
Utah                     21
Idaho                    20
West Virginia            20
Mississippi              20
Arkansas                 19
Maine                    16
Nebraska                 15
Hawaii                   15
District of Columbia     12
New Mexico               11
North Dakota              9
Delaware                  9
Alaska                    8
Rhode Island              8
Vermont                   7
New Hampshire             6
Wyoming                   3
Montana                   1
South Dakota              1
Name: state, dtype: int64

density
Lowest     527
3          526
4          515
Highest    512
2          503
Name: density, dtype: int64

usr
Suburban    1336
Urban        824
Rural        423
Name: usr, dtype: int64

q10
for the Democratic ticket of Hillary Clinton and Tim Kaine                 944
for the Republican ticket of Donald Trump and Mike Pence                   816
NaN                                                                        463
for the Libertarian Party ticket headed by Gary Johnson [OR]               108
[VOL. DO NOT READ] Don't know                                               90
[VOL. DO NOT READ] Refused                                                  56
[VOL. DO NOT READ] Other candidate                                          55
for the Green Party ticket headed by Jill Stein [PRONOUNCED: St-eye-n]      51
Name: q10, dtype: int64

q10a
NaN                                   2382
[VOL. DO NOT READ] Don't know           47
Donald Trump, the Republican            42
[VOL. DO NOT READ] Refused              31
[VOL. DO NOT READ] Other candidate      31
Hillary Clinton, the Democrat           28
Gary Johnson, the Libertarian [OR]      16
Jill Stein of the Green Party            6
Name: q10a, dtype: int64

q10horse
Clinton/lean Clinton     972
Trump/lean Trump         858
NaN                      463
Johnson/lean Johnson     124
DK-refused to lean        76
Stein/lean Stein          57
Other-refused to lean     33
Name: q10horse, dtype: int64

q10horseGP
Clinton/lean Clinton     972
Trump/lean Trump         858
Not registered           466
Johnson/lean Johnson     124
DK-refused to lean        76
Stein/lean Stein          57
Other-refused to lean     30
Name: q10horseGP, dtype: int64

plan1
Plan to vote                 1806
NaN                           463
Already voted                 246
Don't plan to vote             46
Don't know/Refused (VOL.)      22
Name: plan1, dtype: int64

early1
NaN                 2337
Mailed in ballot     166
Voted in person       76
Other way (VOL.)       4
Name: early1, dtype: int64

plan2
ON Election Day              1191
NaN                           777
BEFORE Election Day           558
Don't know/Refused (VOL.)      57
Name: plan2, dtype: int64

sex
Male      1394
Female    1189
Name: sex, dtype: int64

age
65                           67
56                           63
55                           61
60                           60
50                           59
59                           57
63                           56
70                           56
62                           56
68                           52
52                           52
48                           52
58                           52
66                           51
64                           51
36                           49
57                           49
69                           47
54                           46
53                           46
29                           44
32                           43
40                           42
Don't know/Refused (VOL.)    41
21                           41
51                           40
45                           39
42                           39
30                           39
19                           38
46                           37
38                           37
35                           36
33                           36
61                           35
20                           35
73                           35
25                           35
37                           34
27                           34
28                           34
41                           33
67                           33
22                           33
18                           33
31                           33
26                           33
49                           32
71                           31
72                           30
43                           29
23                           29
76                           28
74                           28
39                           27
47                           26
75                           25
80                           24
44                           24
79                           21
77                           20
78                           19
34                           18
24                           17
83                           15
81                           13
85                           10
84                           10
82                            8
86                            7
88                            5
90                            4
92                            2
87                            2
89                            2
93                            1
91                            1
94                            1
Name: age, dtype: int64

gen5
Boomer (1946-64)              990
Millennial (1981-)            611
Xer (1965-80)                 599
Silent (1928-45)              331
DK/Ref                         41
Greatest and older (-1928)     11
Name: gen5, dtype: int64

educ2
Four year college or university degree/Bachelor's degree (e.g., BS, BA, AB)                  680
High school graduate (Grade 12 with diploma or GED certificate)                              584
Postgraduate or professional degree, including master's, doctorate, medical or law degree    433
Some college, no degree (includes some community college)                                    375
Two year associate degree from a college or university                                       282
High school incomplete (Grades 9-11 or Grade 12 with NO diploma)                              84
Some postgraduate or professional schooling, no postgraduate degree                           67
Less than high school (Grades 1-8 or no formal schooling)                                     64
Don't know/Refused (VOL.)                                                                     14
Name: educ2, dtype: int64

income
$150,000 or more                         345
100 to under $150,000 [OR]               343
50 to under $75,000                      330
75 to under $100,000                     312
20 to under $30,000                      249
40 to under $50,000                      223
[VOL. DO NOT READ] Don't know/Refused    222
30 to under $40,000                      218
10 to under $20,000                      197
Less than $10,000                        144
Name: income, dtype: int64

regfinal
Registered/Plan to/N.Dakota    2120
Not registered                  463
Name: regfinal, dtype: int64

racecmb
White                        1935
Black or African-American     258
Or some other race            230
Asian or Asian-American        83
Mixed Race                     77
Name: racecmb, dtype: int64

# Weighting investigation

From the "Oct16 methodology.pdf" file (emphasis added):

- "The first stage of weighting corrected for different probabilities of selection associated with the number of adults in each household and each respondent’s telephone usage patterns.1 This weighting also adjusts for the overlapping landline and cell sample frames and the relative sizes of each frame and each sample."
- "The second stage of weighting balances sample demographics to population parameters. The sample is balanced by form to match national population parameters for **sex, age, education, race, Hispanic origin, region (U.S. Census definitions), population density, and telephone usage**. The Hispanic origin was split out based on nativity; U.S. born and non-U.S. born. The White, non-Hispanic subgroup was also balanced on age, education and region. The basic weighting parameters came from the U.S. Census Bureau’s 2014 American Community Survey (ACS) data. The population density parameter was derived from Census 2010 data. The telephone usage parameter came from an analysis of the July-December 2015 National Health Interview Survey."

In [23]:
d[d['state'] == 'Montana']

,psraid,int_date,cregion,state,density,usr,q10,q10a,q10horse,q10horseGP,...,plan2,sex,age,gen5,educ2,income,regfinal,cellweight,weight,racecmb
328,75012,102016,West,Montana,Lowest,Rural,for the Republican ticket of Donald Trump and ...,NaN,Trump/lean Trump,Trump/lean Trump,...,NaN,Female,64,Boomer (1946-64),High school graduate (Grade 12 with diploma or...,"30 to under $40,000",Registered/Plan to/N.Dakota,3.243243,3.117647,White

**TODO**

# CPS sanity check and basic analysis

In [24]:
d_cps = pd.read_csv('~/OneDrive/Personal/School/Master\'s/DATA 512/Project/cps_00001.csv')
d_cps.shape

(185487, 18)

In [25]:
d_cps[:3]

,Unnamed: 0,YEAR,SERIAL,HWTSUPP,CPSID,REGION,STATEFIP,STATECENSUS,ASECFLAG,MONTH,PERNUM,CPSIDP,WTSUPP,AGE,SEX,RACE,HISPAN,EDUC99
0,1,2016,2,1132.05,2.014120e+13,New England Division,Maine,Maine,ASEC,March,1,20141202933701,1132.05,79,Female,White,Not Hispanic,5th-8th grade
1,2,2016,7,1077.54,2.015120e+13,New England Division,Maine,Maine,ASEC,March,1,20151202935901,1077.54,60,Female,White,Not Hispanic,10th grade
2,3,2016,7,1077.54,2.015120e+13,New England Division,Maine,Maine,ASEC,March,2,20151202935902,1077.54,59,Male,White,Not Hispanic,"Some college, no degree"

In [26]:
d_cps.groupby(['RACE'])['WTSUPP'].sum().sort_values(ascending=False)

RACE
White                                                    2.458050e+08
Black/Negro                                              4.170345e+07
Asian only                                               1.824928e+07
American Indian/Aleut/Eskimo                             4.299843e+06
White-Black                                              2.769582e+06
White-American Indian                                    2.145419e+06
White-Asian                                              1.374479e+06
Hawaiian/Pacific Islander only                           1.160598e+06
Black-American Indian                                    3.139107e+05
White-Black-American Indian                              2.836355e+05
White-Hawaiian/Pacific Islander                          2.755069e+05
Asian-Hawaiian/Pacific Islander                          1.016896e+05
Black-Asian                                              9.687077e+04
White-Black-Asian                                        6.684736e+04
White-Asian-Hawaiian/Pacific Islander                    6.533051e+04
Black-Hawaiian/Pacific Islander                          3.409495e+04
White-American Indian-Asian                              2.986187e+04
Four or five races, unspecified                          2.226472e+04
American Indian-Asian                                    1.580332e+04
White-American Indian-Asian-Hawaiian/Pacific Islander    1.309473e+04
Two or three races, unspecified                          1.024131e+04
White-Black-American Indian-Asian                        9.431210e+03
White-American Indian-Hawaiian/Pacific Islander          7.694640e+03
White-Black--Hawaiian/Pacific Islander                   7.343220e+03
Black-American Indian-Asian                              6.050330e+03
American Indian-Hawaiian/Pacific Islander                1.194470e+03
Name: WTSUPP, dtype: float64

In [27]:
2.458e8

245800000.0

In [28]:
4.17e7

41700000.0

The page at https://en.wikipedia.org/wiki/Demography_of_the_United_States#Race_and_ethnicity says that there were 233k people that are white as of 2015, so the 246k number seems at least in the ballpark. The same page says 40k for black, which also matches up w/ the 42k above.